<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Crowd</title>
    <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
 <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">-->
  
  <!-- Custom styles for this template -->
  <link href="assets/style.css" rel="stylesheet">
      <link href="assets/css/font-awesome.min.css" rel="stylesheet">
      <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="bootstrap/js/html5shiv.js"></script>
  <script src="bootstrap/js/respond.min.js"></script>
  <![endif]-->

</head>

<body>
	<!-- Site header and navigation -->
<header class="navbar navbar-inverse navbar-fixed-top" id="topnav">
<div class="">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="assets/images/expose-logo.png" alt="OurLibrary" height="17px" /> </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="#home">How it Works</a></li>
            <li><a href="#services">Success Stories</a></li>
            <li><a href="#features">Help</a></li>
            <li><a href="#pricing"><strong>Sign In</strong></a></li>
            <button type="button" class="btn btn-default btn-md btn-sign">
  					<!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>--> Sign Up
						</button>


        </ul>

    </div>
    <!--/.navbar-collapse -->
</div>
</header>

<div style="height:100px">&nbsp;</div>

<div class="container" id="">
<div class="row">
<div class="col-md-4">
<form role="form">
  <div class="form-group">
  
    <label for="categories">Categories:</label>
    <select>
    <option value="">Environment</option>
    <option value="">Education</option>
    
    </select>
  </div>
 
  <div class="form-group">
  
    <label for="title">Fundraiser Title:</label>
    <input type="text" class="form-control" id="fundraiser_title">
  </div>

  <div class="form-group">
  
    <label for="description">Fundraiser Description:</label>
    <input type="text" class="form-control" id="fundraiser_description">
  </div>
   <div class="form-group">
  
    <label for="amount">Amount of money you hope to raise:</label>
    <input type="amount" class="form-control" id="amount">
  </div>
  <h2>Fundraiser Location</h2>
  <div class="form-group">
  
    <label for="apartment">Unit/Apartment:</label>
    <input type="apartment" class="form-control" id="apartment">
  </div>
 <div class="form-group">
  
    <label for="street">Street:</label>
    <input type="street" class="form-control" id="street">
  </div>
   <div class="form-group">
  
    <label for="suburb">Suburb:</label>
    <input type="suburb" class="form-control" id="suburb">
  </div>
   <div class="form-group">
  
    <label for="state">State:</label>
    <select>
    <option value="">NSW</option>
    <option value="">ACT</option>
    <option value="">NT</option>
    <option value="">QLD</option>
    <option value="">SA</option>
    <option value="">TAS</option>
     <option value="">VIC</option>
    <option value="">WA</option>
    </select>
  </div>
   <div class="form-group">
  
    <label for="postcode">Postcode:</label>
    <input type="postcode" class="form-control" id="postcode">
  </div>
   
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div> 
</div> 
</div>

    <script src="js/jquery.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>

</body>
</html>
