<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Crowd</title>
    <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
 <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">-->
  
  <!-- Custom styles for this template -->
  <link href="assets/style.css" rel="stylesheet">
      <link href="assets/css/font-awesome.min.css" rel="stylesheet">
      <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="bootstrap/js/html5shiv.js"></script>
  <script src="bootstrap/js/respond.min.js"></script>
  <![endif]-->

</head>

<body>
	<!-- Site header and navigation -->
<header class="navbar navbar-inverse navbar-fixed-top" id="topnav">
<div class="">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="assets/images/expose-logo.png" alt="OurLibrary" height="17px" /> </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="#home">How it Works</a></li>
            <li><a href="#services">Success Stories</a></li>
            <li><a href="#features">Help</a></li>
            <li><a href="#pricing"><strong>Sign In</strong></a></li>
            <button type="button" class="btn btn-default btn-md btn-sign">
  					<!--<span class="glyphicon glyphicon-star" aria-hidden="true"></span>--> Sign Up
						</button>


        </ul>

    </div>
    <!--/.navbar-collapse -->
</div>
</header>

<div class="jumbotron" id="home">
    <div class="container">
        <div class="media">
          <div class="media-body">
          <div class="col-md-12">
                    <h1 class="title">Crowd <span>Funding<a href="#" class="pull-right"><!--<img class="media-object img-responsive" src="assets/images/Finder_256.png" />--></a></span></h1>

            				<p>DISCOVER YOUR CAMPINGSIGN UP </p>
                    <a class="btn btn-block btn-social btn-facebook col-md-6" style="margin:5px">
                                <i class="fa fa-facebook"></i> Sign in with Facebook
                     </a>
                     <a class="btn btn-success btn-large" href="" style="margin:5px">Sign up for free</a><br>
                     
										<div id="custom-search-input" style="margin:5px">
                        <div id="custom-search-input">
                        <div class="input-group col-md-6">
                            <input type="text" class="form-control input-lg" placeholder="SEARCH BY POSTCODE OR NAME" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                        
                    </div>
            </div>
                   <!-- <p><a class="btn btn-success btn-lg">Learn more <i class="icon icon-angle-right"></i></a></p>-->
                </div>
            </div>
        </div>
    </div>
</div><!-- end of banner-->

<div class="container" id="">
    <!-- Example row of columns -->
    <div class="row">
        
        <div class="col-lg-3">
        <div class=""><h3 class="content-title">Categories</h3></div>
            <div class="list-group">
              <a class="list-group-item" href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Environment</a>
              <a class="list-group-item" href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Education</a>
              <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Poverty</a>
              <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Religion</a>
              <a class="list-group-item" href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Medical</a>
              <a class="list-group-item" href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Volunteer</a>
              <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Emergencies</a>
              <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Memorials</a>
              <a class="list-group-item" href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Charity</a>
              <a class="list-group-item" href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Community</a>
              <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Events</a>
              <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Creative</a>
              <a class="list-group-item" href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Family</a>
              <a class="list-group-item" href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Travel</a>
              <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Wish</a>
              <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Sports</a>
              <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Business</a>
              <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Others</a>
						</div>
        </div><!--end of category-->
        <div class="col-lg-9" >
        	<div class="main-sec-cat">
           	 <div class=""><h3 class="content-title">Recent</h3></div>
             <div class="recent-box">
                      <div class="col-md-4"> 
                          <div class="box_inner">
                           <img src="assets/images/propic.jpg" class="img-responsive" alt="" >
                           
                           <div class="desc">
                            <h4>Title of cause goes here </h4>
                            <h5>Location goes here</h5>
                           </div>
                          </div>
                       </div>
                       <div class="col-md-4"> 
                          <div class="box_inner">
                           <img src="assets/images/propic.jpg" class="img-responsive" alt="" >
                           
                           <div class="desc">
                            <h4>Title of cause goes here </h4>
                            <h5>Location goes here</h5>
                           </div>
                          </div>
                       </div>
                       <div class="col-md-4"> 
                          <div class="box_inner">
                           <img src="assets/images/propic.jpg" class="img-responsive" alt="" >
                           
                           <div class="desc">
                            <h4>Title of cause goes here </h4>
                            <h5>Location goes here</h5>
                           </div>
                          </div>
                       </div>
                  
                 </div><!--end of recent-box-->
           </div><!-- end of main-sec-cat-->
           <div class=""><h3 class="content-title">Popular now</h3></div>
           <!--end of recent-box-->
               <div class="recent-box">
               	<div class="col-md-4"> 
                    <div class="box_inner">
                     <img src="assets/images/propic.jpg" class="img-responsive" alt="" >
                     
                     <div class="desc">
                      <h4>Title of cause goes here </h4>
                      <h5>Location goes here</h5>
                     </div>
                    </div>
                 </div>
                 <div class="col-md-4"> 
                    <div class="box_inner">
                     <img src="assets/images/propic.jpg" class="img-responsive" alt="" >
                     
                     <div class="desc">
                      <h4>Title of cause goes here </h4>
                      <h5>Location goes here</h5>
                     </div>
                    </div>
                 </div>
                 <div class="col-md-4"> 
                    <div class="box_inner">
                     <img src="assets/images/propic.jpg" class="img-responsive" alt="" >
                     
                     <div class="desc">
                      <h4>Title of cause goes here </h4>
                      <h5>Location goes here</h5>
                     </div>
                    </div>
                 </div>
                
               </div>
        </div><!--end of col-->
        
		</div><!--end of row-->
    
    
</div><!--end of container-->
<div class="container" id="">
	<div class="footer-top">
    <div class="row-fluid">
          <div class="span4">
              <div class="aliens">
                  <h2>Who is Our Library?</h2>
                  <p>This is dummy text for our library website. This is dummy text for our library website. This is dummy text for our library website.This is dummy text for our library website.This is dummy text for our library website. This is dummy text for our library website. This is dummy text for our library website.This is dummy text for our library website.This is dummy text for our library website.</p>
              </div>
          </div>
          
          <div class="span4">
            <div class="aliens">
                  <h2>How we Help</h2>
                  <ul class="aliens-list">
                    <li><p><a href="#">@Monir</a> - about 12 hours ago Create a Futuristic Concept Car in Photoshop - <a href="#"> ow.ly/heY5J</a></p></li>
                    <li><p><a href="#">@Monir</a> - about 12 hours ago Create a Futuristic Concept Car in Photoshop - <a href="#"> ow.ly/heY5J</a></p></li>
                    <li><p><a href="#">@Monir</a> - about 12 hours ago Create a Futuristic Concept Car in Photoshop - <a href="#"> ow.ly/heY5J</a></p></li>
                  </ul>
              </div>
          </div>
          
          <div class="span4">
            <div class="aliens">
                	<h2>Get Started</h2>
                  <ul class="list-unstyled">
                    <li>List items</li>
                    <li>List items</li>
                    <li>List items</li>
                    <li>List items</li>
                    <li>List items</li>
                    <li>List items</li>
                    <li>List items</li>
                  </ul>
              </div>
          </div>
      
      </div> <!--end of row fluid-->
  </div> <!--end of footer-top-->
  <div class="footer-bottom">
    <div class="row-fluid">
        <div class="span8">
            <div class="copyright">
                <p>Copyright 2015 Our Library | All Rights Reserved | Powered by <a href="#">Celosia Designs</a></p>
            </div>
        </div>
        <div class="span4">
          <!--<ul class="f-social-link hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a">
              <li><a class="hi-icon" href="#set-5">facebook</a></li>
                <li></li>
                <li></li>
            </ul>-->
        </div>
      </div>
  </div>
  </div>

    <script src="js/jquery.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>

</body>
</html>
